.label-group {
  display: block;
}

.fieldset-1 {
  margin-top: 8px;
  margin-bottom: 0;
}

.fieldset-2,
.fieldset-3,
.fieldset-4,
.submit {
  margin-top: 20px;
  margin-bottom: 0;
}

.name,
.age,
.date-of-birth,
.assept,
.password {
  margin-top: 10px;
  margin-bottom: 0;
}

.surname,
.email,
.additional {
  margin-top: 0;
  margin-bottom: 0;
}

.color,
.time-bed,
.cars,
.rate,
.recommend {
  margin-top: 10px;
}
